/* RESET */
* {
    margin: 0;
    padding: 0;
}

/* HTML & BODY */
html,
body {
    height: 100%;
}

/* BODY */
body {
    font-family: Arial;
    background: #fff;
    color: #000;
}

/* WRAPPER */
.wrapper {
    min-height: 100%;
    position: relative;
    padding-bottom: 40px;
    /* tinggi footer */
}

/* NAVBAR */
.navbar {
    padding: 10px;
    background: #eee;
}

/* CONTENT */
.content {
    padding: 10px;
}

/* FOOTER */
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 10px;
    background: #eee;
    text-align: center;
}

/* BUTTON */
.btn {
    padding: 3px 6px;
    border: 1px solid #000;
    background: #fff;
    cursor: pointer;
}

/* TABLE */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th,
td {
    border: 1px solid #000;
    padding: 5px;
}

/* FORM */
input,
textarea {
    width: 100%;
    margin-bottom: 5px;
}